
<!-- <div>
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/streetview
    ?key=
    &location=46.414382,10.013988
    &heading=210
    &pitch=10
    &fov=35" allowfullscreen>
  </iframe>
</div> -->



<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/streetview?key=<% @key  %>&location=47.422815,9.376468&heading=210&pitch=10&fov=35" allowfullscreen></iframe>
